<div>
    <div class="container" >
      <div class="col-sm-6" style="margin-top: 10%;">
        <!-- <div class="panel panel-success">
          <div class="panel-body"> -->
            <img class="img-responsive" src="../../client/assets/images/cart_image.jpg" alt="cart image" width="46.5%" height="46.5%">
         <!--  </div>
        </div> -->
      </div>
      <div class="col-sm-6 vcenter">

        <div class="panel panel-success">
          <div class="panel-heading">Sign UP</div>
          <div class="panel-body">
            <form>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username" ng-model="username">
                </div>

                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="email" ng-model="emailId">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" ng-model="passoword">
                </div>
                <div class="form-group">
                  <label for="Cnfpwd">Confirm Password:</label>
                  <input type="password" class="form-control" id="pwd" ng-model="passoword">
                </div>
                <div class="form-group">
                  <label for="gender">Gender:</label>
                  
                  <!-- <input type="password" class="form-control" id="pwd" ng-model="passoword"> -->

                </div>
                <!-- <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div> -->
                <p>Already registered. Click <a href="#!signin">here</a> for login.</p>
                <button type="submit" class="btn btn-success">Submit</button>

             </form>
          </div>
        </div>
        <!-- <div class="panel panel-success">
          <div class="panel-body">
            
          </div>
         </div>  -->   
      </div>
    </div>
</div>
